.footer
  .footer-about
    h3 關於 六角西餐廳
    p Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. 
  .footer-contact
    h3 聯絡方式
    ul
      li 高雄市中正五路到底
      li +886 886 886
      li service@hexschool.com
  .footer-media
    h1 六角西餐廳
    ul.media
      li
        a(href="#")
          img(src="https://cdn0.iconfinder.com/data/icons/social-network-7/50/7-128.png", alt="")
      li
        a(href="#")
          img(src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/256/Twitter-icon.png", alt="")
      li
        a(href="#")
          img(src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/facebook-256.png", alt="")