.header
  .maxwidth
    h1 六角西餐廳
    .menubutton
      <a id="nav-toggle" href="#">&#9776;</a>
    .menu
      ul
        li
          a(href="#feature") 特色
        li
          a(href="#cook") 主廚
        li
          a(href="#map") 地圖
.banner
  .maxwidth
    .banner-title
      h3 咬一口就無法忘懷的漢堡
      h4 七夕絕對無法錯過的好滋味六角大漢堡 